$color-black-dark: #1D1D1D;
$color-black-light: #2B2B2B;
$color-black-lighter: #393939;
$color-white: #FFF;
$color-grey-darker: #646464;
$color-grey-dark: #828282;
$color-grey-light: #E2E2E2;

$color-primary: #2563EB;
$color-danger: #de0000;
$color-border: #979797;
$color-grey: #f0f0f0;
$color-primary-light: #eff6fc;

$inter: Inter, Arial, sans-serif !important;

@import "functions";
@import "admin/*";