// Contextual UX tweaks
&.contextual-region {
	clear: both;

	&:hover {
		position: relative;
		z-index: 3;

		& > .contextual {
			.contextual-links {
				display: block;
			}
		}
	}
	
	&.focus {
		outline: none;
	}
	& > .contextual {
		position: static;

		button {
			display: none;
		}
		.contextual-links {
			padding: 0;
			position: absolute;
			z-index: 99;
			border-radius: 4px;
			overflow: hidden;
			float: none;
			box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);

			&.edit-paragraph {
				top: 6px;
			}
			&.move-paragraph {
				top: auto;
				bottom: 8px;

				li {
					display: block;

					a {
						width: 40px;
						height: 40px;
						padding: 8px 0;
					}

					& + li {
						border-top: 1px solid #ccc;
					}
				}
			}
			&.add-paragraphs {
				position: static;
				border: none;

				li {
					position: absolute;
					z-index: 99;
					left: 50%;
					margin-left: -36px;
					border: 1px solid #ccc;
					border-radius: 4px;
					overflow: hidden;
					box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);

					a {
						width: 56px;
					}

					&.vb-paragraphsadd-above {
						z-index: 99;
						top: -29px;
						left: 50%;
						margin-left: -36px;
					}
					&.vb-paragraphsadd-below {
						z-index: 99;
						position: absolute;
						bottom: -29px;
						left: 50%;
						margin-left: -36px;
					}
				}
			}

			li {
				display: inline-block;

				a {
					margin: 0;
					padding: 15px 6px;
					min-width: 36px;
					height: 56px;
					text-align: center;
					font-size: 9px;
					position: relative;
					letter-spacing: -0.015em;

					&:hover {
						background: #e0e0e0;
					}

					&:before {
						display: block;
						font-family: "Glyphicons Halflings";
						font-size: 14px;
						line-height: 1;
						padding-bottom: 5px;
					}

					.ajax-throbber {
						position: absolute;
						top: 7px;
						left: 50%;
						width: 24px;
						height: 24px;
						margin-left: -12px;
						font-size: 24px;
						opacity: .25;
					}
				}

				&.vb-paragraphsedit a:before {
					content: "\270f";
				}
				&.vb-paragraphsdelete a {
					background: #ff2f2f;
					color: #fff;
					font-weight: bold;
					letter-spacing: 0;

					&:hover {
						background: darken(#ff2f2f, 20%);
					}
					
					&:before {
						content: "\e020";
						font-weight: normal;
					}
				}
				&.vb-paragraphssettings a:before {
					content: "\e019";
				}
				&.vb-paragraphsdown a:before {
					content: "\e094";
				}
				&.vb-paragraphsup a:before {
					content: "\e093";
				}
				&.vb-paragraphsduplicate a:before {
					content: "\e224";
				}
				&.vb-paragraphsadd-below a:before,
				&.vb-paragraphsadd-above a:before {
					content: "\002b";
				}
				&.vb-paragraphssave a:before {
					content: "\e175";
				}
				&.vb-paragraphspublish a:before {
					content: "\e013";
				}
				&.vb-paragraphsunpublish a:before {
					content: "\e014";
				}
			}
		}
	}
}