&.paragraph--empty {
	display: block !important;
	height: 100px;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(0,0,0,.15) 20px, rgba(0,0,0,.15) 25px);
	outline: 5px solid rgba(0,0,0,.15);
}