&.paragraph--unpublished {
	&:before {
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(#ff0000, .15);
		display: none;
	}
	&:hover:before {
		display: block;
	}
	.vb-paragraphsunpublish-paragraph a {
		display: none;
	}
}
&.paragraph--published {
	.vb-paragraphspublish-paragraph a {
		display: none;
	}
}