.field {
	&--widget-inline-entity-form-complex-table-view-mode {
		button[data-drupal-selector$="entity-browser-open-modal"] {
			float: left;
			@extend %btn-primary;
		}
		button[data-drupal-selector$="actions-ief-reference-save"] {
			display: none;
		}
		button[data-drupal-selector$="actions-ief-reference-cancel"] {
			margin-left: 10px;
		}
		button[name$="add-existing"] {
			@extend %btn-primary;
		}
		.ief-entity-operations {
			min-width: 250px;
			text-align: right;
		}
	}
	&--widget-text-textarea {
		.filter-wrapper {
			& > .form-type-select {
				margin-bottom: 0 !important;
			}
			.filter-list {
				height: 30px !important;
				font-size: 12px !important;
				margin-top: 5px;
				line-height: 1;
			}
			.filter-help {
				margin-top: 5px;
				margin-left: 5px;

				a {
					color: $color-grey-dark;
				}
			}
		}
	}
	&--widget-image-focal-point {
		.preview,
		.data {
			width: 100%;
		}
		.focal-point-preview-link {
			display: none;
		}
	}
	&--name-field-title-icon {
		img {
			max-width: 48px;
		}
	}
	&--name-field-media-image,
	&--name-field-media-images,
	&--name-field-brands,
	&--name-field-mp4-video {
		button[name^="ief-reference-cancel"] {
			display: none;
		}
		.ief-form-bottom {
			margin-bottom: 0;
			
			.panel-heading {
				display: none !important;
			}
		}
	}
	&--name-field-title {
		flex: auto 1 1;

		& + .field--name-field-title-icon {
			flex: 120px 0 0;
			margin-left: 15px;

			.form-item,
			.form-group {
				margin-bottom: 0;
			}

			.panel-body {
				.panel-heading {
					display: none;
				}
			}
			button[id^="edit-field-title-icon-form-0-actions-ief-reference-save"],
			button[id^="edit-field-title-icon-form-0-actions-ief-reference-cancel"] {
				display: none;
			}

			.table {
				margin-bottom: 0;
			}
			thead {
				display: none;
			}
			tr {
				padding: 0 !important;
			}
			td {
				border: none !important;
			}
			.field--name-field-media-image {
				img {
					max-width: 28px;
					max-height: 28px
				}
			}
			.btn-danger {
				font-size: 0 !important;
				height: 32px;
				width: 32px;
				float: right;

				.icon {
					font-size: 12px;
				}
			}

			.ief-form-row {
				position: absolute;
				width: 300px;
				right: 0;
				padding: 15px;
				background: #dff0d8;
				color: #3c763d;
				border: 1px solid #d6e9c6;
				border-radius: 4px;

				.btn-default {
					background: #fff !important;
				}
				.btn-danger {
					font-size: 14px !important;
					width: auto;
					height: 40px;
					float: none;
				}
			}
		}
	}
}