.form-group {
	legend {
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: Arial, sans-serif !important;
		font-size: 14px !important;
		font-weight: bold !important;
		margin-bottom: 5px !important;
	}
	fieldset {
		margin-bottom: 15px;
	}
	// &.field--widget-options-buttons {
	// 	.form-type-radio {
	// 		margin-top: 0;
	// 		margin-bottom: 0;
	// 		float: left;

	// 		.form-radio {
	// 			display: none !important;

	// 			&[value="_none"] + .option {
	// 				display: none;
	// 			}
	// 			&[name="field_title_align"] {
	// 				&[value="left"] + .option:after {
	// 					background: #fff url(../images/admin/align-left.png) no-repeat center center / 22px 22px;
	// 				}
	// 				&[value="center"] + .option:after {
	// 					background: #fff url(../images/admin/align-center.png) no-repeat center center / 22px 22px;
	// 				}
	// 				&[value="right"] + .option:after {
	// 					background: #fff url(../images/admin/align-right.png) no-repeat center center / 22px 22px;
	// 				}
	// 			}
	// 			&[name="field_columns"] {
	// 				&[value="one"] + .option:after {
	// 					background: #fff url(../images/admin/text-1col.png) no-repeat center center / 22px 22px;
	// 				}
	// 				&[value="two"] + .option:after {
	// 					background: #fff url(../images/admin/text-2col.png) no-repeat center center / 22px 22px;
	// 				}
	// 				&[value="three"] + .option:after {
	// 					background: #fff url(../images/admin/text-3col.png) no-repeat center center / 22px 22px;
	// 				}
	// 				&[value="four"] + .option:after {
	// 					background: #fff url(../images/admin/text-4col.png) no-repeat center center / 22px 22px;
	// 				}
	// 			}

	// 			& + .option {
	// 				text-indent: -9999px;
	// 				font-size: 0px;
	// 				display: block;
	// 				margin: 0 3px;
	// 				position: relative;
	// 				width: 32px;
	// 				height: 32px;
	// 				border: 1px solid #ccc;
	// 				border-radius: 4px;
	// 				background: #fff;
	// 				padding: 0 !important;

	// 				&:hover {
	// 					border-color: $color-primary;
	// 				}

	// 				&:after {
	// 					content: '' !important;
	// 					display: block !important;
	// 					width: 22px;
	// 					height: 22px;
	// 					position: absolute;
	// 					top: 4px;
	// 					left: 4px;
	// 					border-radius: 2px;
	// 				}
	// 			}
	// 			&:checked + .option {
	// 				border-color: $color-primary;
	// 				border-width: 3px;

	// 				&:after {
	// 					top: 2px;
	// 					left: 2px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}