.form-item {
	margin-bottom: 20px !important;
	margin-top: 0 !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	font-family: $inter;

	&.form-item-status-value {
		margin-top: 10px !important;
	}
	&.form-type-checkbox,
	&.form-type-radio {
		input {
			display: block !important;
			margin-top: 5px !important;
			opacity: 1 !important;
			width: 13px !important;
			height: 13px !important;
			position: static !important;
			float: left !important;
		}
		label {			
			&:before,
			&:after {
				content: none !important;
			}
		}
	}
	&.form-type-entity-autocomplete {
		.input-group {
			.form-control {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
			.input-group-addon {
				border-color: $color-grey-dark !important;
				border-top-right-radius: 5px !important;
				border-bottom-right-radius: 5px !important;
			}
		}
	}
	.control-label,
	.fieldset-legend {
		color: $color-white !important;
		font-size: 14px !important;
		margin-bottom: 5px !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: $inter;
		font-weight: 500 !important;

		&.sr-only {
			display: none;
		}
	}
	.option {
		color: $color-white !important;
		font-size: 14px !important;
		margin-bottom: 5px !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: $inter;
		font-weight: normal !important;
		padding: 0 0 0 5px !important;
	}
	.form-control {
		background: #fff 	!important;
		border: 1px solid $color-grey-dark !important;
		color: $color-black-dark !important;
		height: 56px !important;
		border-radius: 5px !important;
		appearance: auto !important;
		font-size: 15px !important;
		box-shadow: none !important;

		&:focus {
			box-shadow: none;
			border-color: $color-primary !important;
		}
		&.error {
			border-color: #a94442 !important;
		}
	}
	.form-select {
		appearance: none !important;
		background: $color-white inline-svg('<svg height="300" width="300" fill="#{$color-black-dark}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#5c606b" d="M50.111,72.659c-1.061,0-2.078-0.422-2.829-1.172L17.275,41.474c-1.562-1.562-1.562-4.095,0.001-5.657  c1.563-1.562,4.096-1.562,5.657,0l27.178,27.185l27.178-27.185c1.562-1.562,4.095-1.562,5.657,0  c1.562,1.562,1.562,4.094,0.001,5.657L52.94,71.487C52.189,72.237,51.172,72.659,50.111,72.659z"></path></svg>') no-repeat center right 10px / 16px auto !important;
	}
	input.form-radio,
	input.form-checkbox {
		margin: 2px 0 0;
	}
	&.form-inline {
		.control-label {
			display: block;
			margin-bottom: 5px;
		}
	}
	.form-radios,
	.form-checkboxes {
		.form-item {
			margin-bottom: 0 !important;
		}
	}
	.form-textarea-wrapper {
		clear: both;
	}
	&.form-item-field-media-images-actions-bundle {
		margin-bottom: 0;
	}
	&.panel {
		color: inherit;
		border: none;
		box-shadow: none;

		.panel-heading {
			padding: 0;
			margin-bottom: 5px;
			background: transparent;
			border: none;
			font-weight: bold;
			display: contents;
		}
		.panel-title {
			font-weight: bold !important;
			padding: 0 !important;
			margin-bottom: 5px !important;
			color: $color-white !important;
			font-size: 14px !important;
			text-transform: none !important;
			line-height: 1.4 !important;
			font-family: $inter;
			font-weight: 500 !important;
			letter-spacing: 0 !important;
			display: inline-block;
		}
		.panel-body {
			padding: 0;
		}
		&-danger {
			.panel-title {
				color: #a94442 !important;
			}
		}
	}
	.ajax-progress.ajax-progress-throbber {
		position: static !important;
	}
}
