.layout-builder__section__actions {
  position: absolute;
  display: none;

  .layout-builder__section:hover & {
    display: block;
  }

  .layout-builder & {
    position: absolute;
    z-index: 1002;
    top: 5px;
    z-index: 99; /* needs to go over nested absolute elements */
    pointer-events: none;
    transition: all .25s ease-in-out;
    background-color: $color-black-dark;
    right: 4px;
    left: auto;
    border-radius: 10px;
    padding: 6px;

    .layout-builder__link {
      @extend %interface-button-black-border;

      & + .layout-builder__link {
        margin-left: 6px;
      }

      &--configure:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 16.125C14.2259 16.125 15.625 14.7259 15.625 13C15.625 11.2741 14.2259 9.875 12.5 9.875C10.7741 9.875 9.375 11.2741 9.375 13C9.375 14.7259 10.7741 16.125 12.5 16.125Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.08337 13.9168V12.0835C2.08337 11.0002 2.96879 10.1043 4.06254 10.1043C5.94796 10.1043 6.71879 8.77099 5.77087 7.13557C5.22921 6.19807 5.55212 4.97932 6.50004 4.43766L8.30212 3.40641C9.12504 2.91682 10.1875 3.20849 10.6771 4.03141L10.7917 4.22932C11.7292 5.86474 13.2709 5.86474 14.2188 4.22932L14.3334 4.03141C14.823 3.20849 15.8855 2.91682 16.7084 3.40641L18.5105 4.43766C19.4584 4.97932 19.7813 6.19807 19.2396 7.13557C18.2917 8.77099 19.0625 10.1043 20.948 10.1043C22.0313 10.1043 22.9271 10.9897 22.9271 12.0835V13.9168C22.9271 15.0002 22.0417 15.896 20.948 15.896C19.0625 15.896 18.2917 17.2293 19.2396 18.8647C19.7813 19.8127 19.4584 21.021 18.5105 21.5627L16.7084 22.5939C15.8855 23.0835 14.823 22.7918 14.3334 21.9689L14.2188 21.771C13.2813 20.1356 11.7396 20.1356 10.7917 21.771L10.6771 21.9689C10.1875 22.7918 9.12504 23.0835 8.30212 22.5939L6.50004 21.5627C5.55212 21.021 5.22921 19.8022 5.77087 18.8647C6.71879 17.2293 5.94796 15.896 4.06254 15.896C2.96879 15.896 2.08337 15.0002 2.08337 13.9168Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
      &--add-section-to-library:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.77075 12.0859C0.895752 12.4297 0.895752 19.5234 5.77075 19.8672H7.7708" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.82287 12.0846C2.47912 2.78247 16.5832 -0.93627 18.1978 8.83456C22.7082 9.40748 24.5312 15.4179 21.1145 18.4075C20.0729 19.3554 18.7291 19.8762 17.3228 19.8658H17.2291" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.7083 17.7201C17.7083 18.4909 17.5416 19.2201 17.2291 19.8659C17.1458 20.0534 17.0521 20.2305 16.9479 20.3971C16.0521 21.9076 14.3958 22.9284 12.5 22.9284C10.6041 22.9284 8.94786 21.9076 8.05202 20.3971C7.94786 20.2305 7.85415 20.0534 7.77082 19.8659C7.45832 19.2201 7.29163 18.4909 7.29163 17.7201C7.29163 14.8451 9.62496 12.5117 12.5 12.5117C15.375 12.5117 17.7083 14.8451 17.7083 17.7201Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.875 17.72L11.9062 18.7513L14.125 16.6992" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
      &--add-title:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.37504 23.4154H15.625C20.8334 23.4154 22.9167 21.332 22.9167 16.1237V9.8737C22.9167 4.66536 20.8334 2.58203 15.625 2.58203H9.37504C4.16671 2.58203 2.08337 4.66536 2.08337 9.8737V16.1237C2.08337 21.332 4.16671 23.4154 9.37504 23.4154Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.29163 9.76172C10.5729 8.1263 14.427 8.1263 17.7083 9.76172" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 17.4805V8.76172" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
      &--remove:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">><path d="M21.875 6.72786C18.4062 6.38411 14.9167 6.20703 11.4375 6.20703C9.375 6.20703 7.3125 6.3112 5.25 6.51953L3.125 6.72786" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.85419 5.67578L9.08335 4.3112C9.25002 3.32161 9.37502 2.58203 11.1354 2.58203H13.8646C15.625 2.58203 15.7604 3.36328 15.9167 4.32161L16.1459 5.67578" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.6354 10.0195L18.9583 20.5091C18.8437 22.1445 18.75 23.4154 15.8437 23.4154H9.15623C6.24998 23.4154 6.15623 22.1445 6.04165 20.5091L5.36456 10.0195" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.7604 17.6875H14.2292" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.89581 13.5195H15.1041" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
      &--copy-section:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6667 13.9362V18.3112C16.6667 21.957 15.2084 23.4154 11.5625 23.4154H7.18754C3.54171 23.4154 2.08337 21.957 2.08337 18.3112V13.9362C2.08337 10.2904 3.54171 8.83203 7.18754 8.83203H11.5625C15.2084 8.83203 16.6667 10.2904 16.6667 13.9362Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 7.6862V12.0612C22.9167 15.707 21.4584 17.1654 17.8125 17.1654H16.6667V13.9362C16.6667 10.2904 15.2084 8.83203 11.5625 8.83203H8.33337V7.6862C8.33337 4.04036 9.79171 2.58203 13.4375 2.58203H17.8125C21.4584 2.58203 22.9167 4.04036 22.9167 7.6862Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
      &--grid:before {
        background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.9167 9.3737V4.64453C22.9167 3.17578 22.25 2.58203 20.5938 2.58203H16.3854C14.7292 2.58203 14.0625 3.17578 14.0625 4.64453V9.36328C14.0625 10.8424 14.7292 11.4258 16.3854 11.4258H20.5938C22.25 11.4362 22.9167 10.8424 22.9167 9.3737Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 21.0938V16.8854C22.9167 15.2292 22.25 14.5625 20.5938 14.5625H16.3854C14.7292 14.5625 14.0625 15.2292 14.0625 16.8854V21.0938C14.0625 22.75 14.7292 23.4167 16.3854 23.4167H20.5938C22.25 23.4167 22.9167 22.75 22.9167 21.0938Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.9374 9.3737V4.64453C10.9374 3.17578 10.2708 2.58203 8.6145 2.58203H4.40617C2.74992 2.58203 2.08325 3.17578 2.08325 4.64453V9.36328C2.08325 10.8424 2.74992 11.4258 4.40617 11.4258H8.6145C10.2708 11.4362 10.9374 10.8424 10.9374 9.3737Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.9374 21.0938V16.8854C10.9374 15.2292 10.2708 14.5625 8.6145 14.5625H4.40617C2.74992 14.5625 2.08325 15.2292 2.08325 16.8854V21.0938C2.08325 22.75 2.74992 23.4167 4.40617 23.4167H8.6145C10.2708 23.4167 10.9374 22.75 10.9374 21.0938Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }
  }
}