.layout-builder__add-block {
  display: none;
  padding: 0;
  margin: 0;
  background: transparent;

  .layout-builder & {
    display: block;
    padding: 0;
    text-align: center;
  }

  .layout-builder__link--add,
  .layout-builder__direct-add__toggle {
    @extend %interface-button-white;
    position: absolute !important;
    bottom: -50px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    display: none !important;

    .layout-builder__section:hover & {
      display: table !important;
    }

    &:before {
      background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M12.4999 23.4154C18.2291 23.4154 22.9166 18.7279 22.9166 12.9987C22.9166 7.26953 18.2291 2.58203 12.4999 2.58203C6.77075 2.58203 2.08325 7.26953 2.08325 12.9987C2.08325 18.7279 6.77075 23.4154 12.4999 23.4154Z" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33325 13H16.6666" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 17.1654V8.83203" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  &.open {
    &:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 99998;
    }

    .layout-builder__direct-add__list {
      position: fixed;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
      z-index: 99999;
      width: 720px;
      max-width: 100%;
      border: none;
      box-shadow: none;

      &:before,
      &:after {
        content: none;
      }
    }
  }

  .layout-builder__direct-add__list {
    background: $color-black-light;
    border-radius: 15px;
    padding: 30px;

    .links {
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      & > li {
        padding: 5px;
        width: 16.666%;

        a {
          color: $color-white !important;
          background: $color-black-dark;
          font-weight: bold;
          font-size: 12px;
          padding: 80px 5px 5px 5px;
          font-family: $inter;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border: none;
          border-radius: 5px;

          &:before {
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            left: 5px;
            height: 72px;
            background: url(../images/icons/icon-section-page@3x.png) no-repeat center center / 72px 72px;
            opacity: .3;
          }

          &[href$="%3Aimage"]:before {
            background-image: url(../images/icons/icon-section-image@3x.png);
          }
          &[href$="%3Afile"]:before {
            background-image: url(../images/icons/icon-section-downloads@3x.png);
          }
          &[href$="%3Abrands"]:before {
            background-image: url(../images/icons/icon-section-brands@3x.png);
          }
          &[href$="%3Acall_to_action"]:before {
            background-image: url(../images/icons/icon-section-cta@3x.png);
          }
          &[href$="%3Aform"]:before {
            background-image: url(../images/icons/icon-section-form@3x.png);
          }
          &[href$="%3Agallery"]:before {
            background-image: url(../images/icons/icon-section-gallery@3x.png);
          }
          &[href$="%3Acard"]:before {
            background-image: url(../images/icons/icon-section-cards@3x.png);
          }
          &[href$="%3Abutton"]:before {
            background-image: url(../images/icons/icon-section-button@3x.png);
          }
          &[href$="%3Apage_title"]:before,
          &[href$="%3Asection_title"]:before {
            background-image: url(../images/icons/icon-section-intro2@3x.png);
          }
          &[href$="%3Aperson"]:before {
            background-image: url(../images/icons/icon-section-team@3x.png);
          }
          &[href$="%3Aquote"]:before {
            background-image: url(../images/icons/icon-section-quotes@3x.png);
          }
          &[href$="%3Abasic"]:before,
          &[href$="%3Atext"]:before {
            background-image: url(../images/icons/icon-section-intro@3x.png);
          }
          &[href$="%3Acounter"]:before {
            background-image: url(../images/icons/icon-section-counter@3x.png);
          }
          &[href$="%3Avideo"]:before {
            background-image: url(../images/icons/icon-section-video@3x.png);
          }
          &:hover {
            background-color: $color-primary;

            &:before {
              opacity: 1;
            }
          }
        }
        &.other {
          .ajax-throbber {
            margin-left: 5px;
          }
          & > a:before {
            background-image: url(../images/icons/icon-section-more@3x.png);
          }
        }
      }
    }
  }
}


