.layout-builder__add-section {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%) translateY(-24px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 47px;
  margin: 0;
  padding: 12px 6px;
  min-height: 47px;
  height: 47px;
  background-color: transparent;
  outline: 2px solid rgba(255, 255, 255, 0);

  .layout-builder & {
    display: flex;
    border-radius: 10px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 47px;
      height: 47px;
      border-radius: 10px;
      font-size: 2rem;
      text-align: center;
      line-height: 32px;
      background: $color-black-dark inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#{$color-grey-dark}" d="M368,224H224V80c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16v144H16c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16 h144v144c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16V288h144c8.8,0,16-7.2,16-16v-32C384,231.2,376.8,224,368,224z"/></svg>') center center no-repeat;
      background-size: 14px auto;
      transition: opacity .25s ease-in-out;
    }

    &:hover {
      width: auto;
      max-width: 100%;
      background-color: $color-black-dark;
      transition: all .25s ease-in-out;

      &:before {
        opacity: 0;
        width: 100%;
        border-radius: 0%;
        transition: opacity .25s ease-in-out;
      }
      & > a {
        left: 0;
        opacity: 1;
        transition: opacity .25s ease-in-out;
      }
    }
  }

  .layout-builder__link {
    @extend %interface-button-black-border;
    opacity: 0;

    & + .layout-builder__link {
      margin-left: 6px;
    }

    &--add:before {
      background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M12.4999 23.4154C18.2291 23.4154 22.9166 18.7279 22.9166 12.9987C22.9166 7.26953 18.2291 2.58203 12.4999 2.58203C6.77075 2.58203 2.08325 7.26953 2.08325 12.9987C2.08325 18.7279 6.77075 23.4154 12.4999 23.4154Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33325 13H16.6666" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 17.1654V8.83203" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    &--import-from-library:before {
      background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.9167 9.3737V4.64453C22.9167 3.17578 22.25 2.58203 20.5938 2.58203H16.3854C14.7292 2.58203 14.0625 3.17578 14.0625 4.64453V9.36328C14.0625 10.8424 14.7292 11.4258 16.3854 11.4258H20.5938C22.25 11.4362 22.9167 10.8424 22.9167 9.3737Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 21.0938V16.8854C22.9167 15.2292 22.25 14.5625 20.5938 14.5625H16.3854C14.7292 14.5625 14.0625 15.2292 14.0625 16.8854V21.0938C14.0625 22.75 14.7292 23.4167 16.3854 23.4167H20.5938C22.25 23.4167 22.9167 22.75 22.9167 21.0938Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.9374 9.3737V4.64453C10.9374 3.17578 10.2708 2.58203 8.6145 2.58203H4.40617C2.74992 2.58203 2.08325 3.17578 2.08325 4.64453V9.36328C2.08325 10.8424 2.74992 11.4258 4.40617 11.4258H8.6145C10.2708 11.4362 10.9374 10.8424 10.9374 9.3737Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.9374 21.0938V16.8854C10.9374 15.2292 10.2708 14.5625 8.6145 14.5625H4.40617C2.74992 14.5625 2.08325 15.2292 2.08325 16.8854V21.0938C2.08325 22.75 2.74992 23.4167 4.40617 23.4167H8.6145C10.2708 23.4167 10.9374 22.75 10.9374 21.0938Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    &--paste-section:before {
      background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M16.6666 13.9362V18.3112C16.6666 21.957 15.2083 23.4154 11.5624 23.4154H7.18742C3.54159 23.4154 2.08325 21.957 2.08325 18.3112V13.9362C2.08325 10.2904 3.54159 8.83203 7.18742 8.83203H11.5624C15.2083 8.83203 16.6666 10.2904 16.6666 13.9362Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9166 7.6862V12.0612C22.9166 15.707 21.4583 17.1654 17.8124 17.1654H16.6666V13.9362C16.6666 10.2904 15.2083 8.83203 11.5624 8.83203H8.33325V7.6862C8.33325 4.04036 9.79158 2.58203 13.4374 2.58203H17.8124C21.4583 2.58203 22.9166 4.04036 22.9166 7.6862Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }

  .layout-builder.layout-builder-disabled & {
    position: relative;
    transform: translateX(-50%);
    margin: 20px 0;
  }
}