.layout-builder-block {
	cursor: move;
	padding: 0;
	transition: none;
	background: transparent;

	.contextual {
		display: none;
	}
	& > .contextual {
		display: block;
	}

	.layout-builder & {
		position: relative;


		// &:before {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	top: -5px;
		// 	right: -5px;
		// 	bottom: -5px;
		// 	left: -5px;
		// 	// background-size: 100% 100%;
		// 	border: 1px solid white;
		// 	// border-image-source: inline-svg("<svg width='100px' height='100px' xmlns='http://www.w3.org/2000/svg'><rect width='100px' height='100px' fill='none' rx='10' ry='10' stroke='#{$color-primary}' stroke-width='2' stroke-dasharray='5,5' stroke-dashoffset='5' stroke-linecap='round'/></svg>");
		// 	// border-image-slice: 20 22;
		// 	//border-image-source: inline-svg("<svg width='100px' height='100px' xmlns='http://www.w3.org/2000/svg'><rect width='100px' height='100px' fill='none' rx='10' ry='10' stroke='#{$color-primary}' stroke-width='2' stroke-dasharray='5,5' stroke-dashoffset='5' stroke-linecap='round'/></svg>");
		// 	//border-image: url(../images/border.svg) 20px round;
		// 	border-image: linear-gradient(to right, $color-primary 70%, rgba(255,255,255,0) 0%);
		// }
		&:hover {
			outline: 1px dashed $color-primary;
			border-radius: 5px;
			outline-offset: 3px !important;
			position: relative;
			z-index: 4;
		}

		&.contextual-region {
			&.focus {
				outline-offset: 0;
			}
			.trigger,
			.contextual-links {
				display: none;
			}
			.contextual {
				position: static;
			}
			.contextual-links {
				position: static;
				border: none;
				padding: 0;
				border-radius: 0;
				line-height: 1;

				li {
					background: transparent;

					a {
						@extend %interface-button-white;
					}
					&.layout-builder-block-update {
						position: absolute;
						z-index: 999;
						left: 3px;
						top: 0;

						a:before {
							background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M11.4583 2.58203H9.37492C4.16659 2.58203 2.08325 4.66536 2.08325 9.8737V16.1237C2.08325 21.332 4.16659 23.4154 9.37492 23.4154H15.6249C20.8333 23.4154 22.9166 21.332 22.9166 16.1237V14.0404" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.7085 3.64451L8.50012 11.8528C8.18762 12.1653 7.87512 12.7799 7.81262 13.2278L7.3647 16.3633C7.19803 17.4987 8.00012 18.2903 9.13554 18.1341L12.271 17.6862C12.7085 17.6237 13.323 17.3112 13.646 16.9987L21.8543 8.79034C23.271 7.37368 23.9376 5.72784 21.8543 3.64451C19.771 1.56118 18.1251 2.22784 16.7085 3.64451Z" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.5312 4.82422C16.2292 7.3138 18.1771 9.26172 20.6771 9.97005" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
						}
					}
					&.layout-builder-block-move {
						display: none;
					}
					&.layout-builder-block-remove {
						position: absolute;
						z-index: 999;
						right: 3px;
						top: 0;

						a:before {
        					background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">><path d="M21.875 6.72786C18.4062 6.38411 14.9167 6.20703 11.4375 6.20703C9.375 6.20703 7.3125 6.3112 5.25 6.51953L3.125 6.72786" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.85419 5.67578L9.08335 4.3112C9.25002 3.32161 9.37502 2.58203 11.1354 2.58203H13.8646C15.625 2.58203 15.7604 3.36328 15.9167 4.32161L16.1459 5.67578" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.6354 10.0195L18.9583 20.5091C18.8437 22.1445 18.75 23.4154 15.8437 23.4154H9.15623C6.24998 23.4154 6.15623 22.1445 6.04165 20.5091L5.36456 10.0195" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.7604 17.6875H14.2292" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.89581 13.5195H15.1041" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
						}
					}
				}
			}
			&:hover {
				.contextual-links {
					display: block;
				}
			}
		}
	}
}