#bs_ui {
	margin: 0;

	.control-label {
		cursor: pointer;
	}
	.form-radio {
		display: none !important;
	}
	.form-item.form-type-checkbox,
	.form-item.form-type-radio {
		label:before,
		label:after {
			content: none;
		}
		.bs_input-boxes--box-model + label {
			&:after {
				content: '';
				border-radius: 0;
				background: transparent;
				left: 50%;
				margin-left: -10px;
			}
		}
	}

	#bs_nav-tabs {
		position: relative;
		padding: 0;
		background: $color-black-dark;
		padding-left: 30px;
		padding-right: 30px;
		margin: 0;

		li {
			margin: 0;
			list-style: none;
			display: inline-block;

			a {
				cursor: pointer;
				position: relative;
				padding: .5rem 3rem;
				min-height: 68px;
				min-width: 16.666%;
				color: $color-primary;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color-grey-dark;
				font-weight: 500;
				font-family: Inter, Arial, sans-serif;
				border-bottom: 3px solid $color-black-dark;


				&:hover {
					color: $color-white;
				}
				&.active {
					border-color: $color-primary;
					color: $color-white;
				}

				.bs_tooltip {
					&:after {
						content: none;
					}
				}

				.blb_icon,
				span[role='img'] {
					display: none;
				}
				svg {
					max-width: 100%;
					height: auto;
					background: none;

					* {
						transition: all .3s ease-in-out;
						fill: #383A40;
					}
				}
			}
		}
	}
	#bs_tabContent {
		max-height: calc(90vh - 200px);
		overflow: auto;
		padding: 15px 30px;
	}
	.blb_container_type,
	.blb_gutter_type {
		.form-radios {
			margin-left: -10px;
			margin-right: -10px;
		}
		.control-label {
			background: $color-black-lighter !important;
			height: 60px !important;
			padding-left: 20px !important;
			padding-right: 20px !important;
			align-items: baseline;
			border-radius: 5px;
			margin: 0 10px !important;
			width: calc(100% - 20px) !important;
			font-family: $inter;
			font-weight: 300;
		}
		.form-radio:checked + .control-label {
			background: $color-primary !important;
		}
		.input-icon {
			display: none;
		}
	}
	.blb_breakpoint_cols {
		.fieldset-wrapper > div {
			display: flex;
			flex-wrap: wrap;
			margin-left: -10px;
		}
		.form-item {
			flex: 0 0 248px;
			margin-left: 10px;
			display: flex;
			align-items: center;
			align-content: center;
			margin-bottom: 10px;

			.control-label {
				width: 100%;
				display: flex;
				padding: 5px !important;
				font-size: 12px !important;
				text-align: center;
				flex-wrap: wrap;
				margin: 0 !important;
				align-items: center;
				align-content: center;
				background: $color-black-lighter !important;
				border-radius: 5px;

				.bs_tooltip {
					display: none;
				}
				.blb_breakpoint_col {
					border: 5px solid $color-black-lighter;
					background: $color-white !important;
					border-radius: 8px;
					line-height: 40px;
					color: $color-primary !important;
					font-size: 10px;
					font-family: $inter;
					font-weight: 400;
				}
			}
			.form-radio:checked + .control-label {
				background: $color-primary !important;

				.blb_breakpoint_col {
					border-color: $color-primary !important;
				}
			}
		}
	}
	.bs_input-circles {
		.fieldset-wrapper {
			label {
				box-shadow: none;
			}
			input:checked+label {
				border-color: $color-primary;
			}
		}
		.form-item-layout-settings-ui-tab-content-appearance-background-background-color {
			input[value='_none'] {
				& + .control-label {
					background-image:
					linear-gradient(45deg, #ccc 25%, transparent 25%), 
					linear-gradient(135deg, #ccc 25%, transparent 25%),
					linear-gradient(45deg, transparent 75%, #ccc 75%),
					linear-gradient(135deg, transparent 75%, #ccc 75%);
					background-size: 14px 14px;
					background-position: 0 0, 7px 0, 7px -7px, 0px 7px;
				}
			}
		}
		.control-label {
			font-size: 0 !important;
		}
	}
	.bs_input-boxes {
		.fieldset-wrapper {
			margin-left: -10px;
			margin-right: -10px;

			& > .form-radios {
				& > .form-type-radio {
					padding-left: 10px;
					padding-right: 10px;

					input {
						& + label {
							height: 60px !important;
							border-radius: 5px;
							font-family: $inter;
							font-weight: 300;
							background: $color-black-lighter;
							color: $color-white;
						}
						&:checked+label {
							background: $color-primary;
						}
					}
				}
			}
		}
	}
	.bs_padding--type,
	.bs_margin--type {
		.control-label {
			text-indent: 0;

			.bs_tooltip {
				display: none;
			}
		}
	}
	.bs_background--type {
		.fieldset-wrapper {
			& > div {
				display: flex;

				& > div {
					position: relative;
					flex: 100%;
					width: 100%;
					margin: 0;
					padding: 0;

					&:first-child:last-child {
						display: none;
					}

					input {
						position: absolute;
						width: 1px;
						height: 1px;
						padding: 0;
						margin: -1px;
						overflow: hidden;
						clip: rect(0, 0, 0, 0);
						white-space: nowrap;
						border: 0;

						& + label {
							transition: all .3s ease-in-out;
							padding: 8px;
							height: 42px;
							width: 100%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							text-align: center;
							cursor: pointer;
							background-color: $color-black-light;

							&:hover {
								background-color: #b3b3b3;

								&:after {
									border-color: #4d4d4d;
								}
							}
						}
						&:checked + label {
							color: #ffffff;
							background-color: $color-primary;

							svg {
								color: #ffffff;
							}
							&:after {
								border-color: #e6e6e6;
							}
						}
					}
				}
			}
		}
	}
	.layout-builder-lock-section-settings {
		.form-item.form-type-checkbox {
			.form-checkbox {
				float: left;
			}
			.option {
				padding-left: 10px !important;
			}
		}
	}
	.allow-block-types-wrapper {
		.form-radio {
			display: block !important;
		}
	}
}