.layout-builder-form {
    position: fixed;
    z-index: 908;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    text-align: left;
    background: $color-black-dark;

	& > .form-type-vertical-tabs {
		display: none;
	}
	.form-group {
		margin: 0;
	}
	.layout-builder__message {
		display: none;
	}
	.form-actions {
		display: flex;

		.btn {
			margin-left: 10px;
			line-height: 40px !important;
		}
		.btn-help {
			margin-left: 0;
			margin-right: auto;
			@extend %interface-button-black;

			&:before {
				background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M12.4999 22.9154C18.2529 22.9154 22.9166 18.2517 22.9166 12.4987C22.9166 6.74573 18.2529 2.08203 12.4999 2.08203C6.74695 2.08203 2.08325 6.74573 2.08325 12.4987C2.08325 18.2517 6.74695 22.9154 12.4999 22.9154Z" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.46875 9.37315C9.71365 8.67697 10.197 8.08993 10.8333 7.716C11.4695 7.34207 12.2176 7.20538 12.945 7.33014C13.6724 7.45491 14.3321 7.83307 14.8074 8.39766C15.2826 8.96225 15.5428 9.67682 15.5417 10.4148C15.5417 12.4982 12.4167 13.5398 12.4167 13.5398" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 17.707H12.5104" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			}
		}
		.btn-save {
			@extend %btn;
			@extend %btn-primary;
			padding: 0 8px 0 28px !important;
			position: relative;

			.glyphicon {
				display: none;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				height: auto;
				left: 5px;
				width: 18px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 18px;
				background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M12.4999 23.4154C18.2291 23.4154 22.9166 18.7279 22.9166 12.9987C22.9166 7.26953 18.2291 2.58203 12.4999 2.58203C6.77075 2.58203 2.08325 7.26953 2.08325 12.9987C2.08325 18.7279 6.77075 23.4154 12.4999 23.4154Z" stroke="#{$color-white}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.073 12.9987L11.0209 15.9466L16.9272 10.0508" stroke="#{$color-white}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			}
		}
		.btn-discard {
			@extend %interface-button-black-border;

			&:before {
				background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M12.4999 23.4154C18.2291 23.4154 22.9166 18.7279 22.9166 12.9987C22.9166 7.26953 18.2291 2.58203 12.4999 2.58203C6.77075 2.58203 2.08325 7.26953 2.08325 12.9987C2.08325 18.7279 6.77075 23.4154 12.4999 23.4154Z" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.552 15.9466L15.4478 10.0508" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.4478 15.9466L9.552 10.0508" stroke="#{$color-grey-dark}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			}
		}
		.btn-more {
			@extend %interface-button-black-border;

			&:before {
				background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none"><path d="M5.20833 10.918C4.0625 10.918 3.125 11.8555 3.125 13.0013C3.125 14.1471 4.0625 15.0846 5.20833 15.0846C6.35417 15.0846 7.29167 14.1471 7.29167 13.0013C7.29167 11.8555 6.35417 10.918 5.20833 10.918Z" stroke="#{$color-grey-dark}" stroke-width="1.5"/><path d="M19.7916 10.918C18.6458 10.918 17.7083 11.8555 17.7083 13.0013C17.7083 14.1471 18.6458 15.0846 19.7916 15.0846C20.9374 15.0846 21.8749 14.1471 21.8749 13.0013C21.8749 11.8555 20.9374 10.918 19.7916 10.918Z" stroke="#{$color-grey-dark}" stroke-width="1.5"/><path d="M12.5001 10.918C11.3542 10.918 10.4167 11.8555 10.4167 13.0013C10.4167 14.1471 11.3542 15.0846 12.5001 15.0846C13.6459 15.0846 14.5834 14.1471 14.5834 13.0013C14.5834 11.8555 13.6459 10.918 12.5001 10.918Z" stroke="#{$color-grey-dark}" stroke-width="1.5"/></svg>');
			}
		}
		.btn-default {
			&:before {
				opacity: 1;
			}
			&:hover {
				background: $color-white !important;
				color: $color-black-dark !important;
				border-color: $color-white !important;
			}
		}
	}
}

.layout-builder-configure-section,
.layout-builder-configure-block {
	width: 800px;
	padding: 15px;

	.modal-body & {
		width: 100%;
		padding: 0;
	}
	.modal > & {
		height: 100%;
		overflow: auto;
		max-height: 90vh;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}	
}

.layout-builder-discard-changes {
	max-width: 670px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 30px auto;

	.button + .button {
		margin-left: 15px;
	}
}