.modal[id^="layout-builder-modal"] {
	.block-categories {
		.inline-block-list,
		.links {
			padding: 0;
			list-style: none;
			margin-left: -5px;
			margin-right: -5px;
			display: flex;
			flex-wrap: wrap;

			& > li {
				width: 20%;
				padding: 0 5px 10px 5px;

				& > a {
					color: $color-white !important;
					background: $color-black-dark !important;
					font-weight: bold;
					font-size: 12px;
					padding: 80px 5px 5px 5px !important;
					font-family: $inter;
					font-weight: 500;
					display: flex;
					min-height: 140px;
					align-items: flex-end;
					justify-content: center;
					position: relative;
					border: none;
					border-radius: 5px;
					align-items: center;
					border: none !important;
					transition: none !important;
					text-align: center;

					img,
					.inline-block-list__item__descr {
						display: none;
					}

					&:before {
						content: '';
						position: absolute;
						top: 5px;
						right: 5px;
						left: 5px;
						bottom: 30px;
						background: url(../images/icons/icon-section-page@3x.png) no-repeat center center / 72px 72px;
						opacity: .3;
					}

					&[href$="%3Aimage"]:before {
						background-image: url(../images/icons/icon-section-image@3x.png);
					}
					&[href$="%3Afile"]:before {
						background-image: url(../images/icons/icon-section-downloads@3x.png);
					}
					&[href$="%3Abrands"]:before {
						background-image: url(../images/icons/icon-section-brands@3x.png);
					}
					&[href$="%3Acall_to_action"]:before {
						background-image: url(../images/icons/icon-section-cta@3x.png);
					}
					&[href$="%3Aform"]:before {
						background-image: url(../images/icons/icon-section-form@3x.png);
					}
					&[href$="%3Agallery"]:before {
						background-image: url(../images/icons/icon-section-gallery@3x.png);
					}
					&[href$="%3Acard"]:before {
						background-image: url(../images/icons/icon-section-cards@3x.png);
					}
					&[href$="%3Abutton"]:before {
						background-image: url(../images/icons/icon-section-button@3x.png);
					}
					&[href$="%3Apage_title"]:before,
					&[href$="%3Asection_title"]:before {
						background-image: url(../images/icons/icon-section-intro2@3x.png);
					}
					&[href$="%3Aperson"]:before {
						background-image: url(../images/icons/icon-section-team@3x.png);
					}
					&[href$="%3Aquote"]:before {
						background-image: url(../images/icons/icon-section-quotes@3x.png);
					}
					&[href$="%3Abasic"]:before,
					&[href$="%3Atext"]:before {
						background-image: url(../images/icons/icon-section-intro@3x.png);
					}
					&[href$="%3Acounter"]:before {
						background-image: url(../images/icons/icon-section-counter@3x.png);
					}
					&[href$="%3Avideo"]:before {
						background-image: url(../images/icons/icon-section-video@3x.png);
					}
					&:hover {
						background-color: $color-primary !important;
						border: none !important;
						text-decoration: none;

						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}