.layout-selection {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: -5px;
	margin-right: -5px;
	padding: 0;
	list-style: none;
	min-width: 100%;

	li {
		padding-left: 5px;
		padding-right: 5px;

		a {
			display: block;
			text-align: center;
			background: $color-black-lighter;
			color: $color-white;
			font-size: 13px;
			font-weight: bold;
			padding: 10px;

			rect {
				stroke: $color-white;
				fill: $color-white;
			}

			&:hover {
				background: $color-primary;
				text-decoration: none;
			}
		}
	}
}