.block-local-tasks-block {
	.page-route-layout-builderoverridesnodeview & {
		position: fixed;
		z-index: 909;
		bottom: 72px;
		right: 10px;
		display: none;

		&.active {
			display: block;
		}

		&:after {
			content: '';
			position: fixed;
			bottom: 69px;
			right: 40px;
			width: 8px;
			height: 8px;
			background: $color-white;
			box-shadow: 1px 1px 0 $color-grey-dark;
			transform: rotate(45deg);
		}

		.container {
			padding: 0;
		}

		.nav-tabs {
			display: flex;
			flex-direction: column-reverse;
			background: $color-white;
			border-radius: 10px;
			border: 1px solid $color-grey-dark;
			overflow: hidden;

			& > li {
				float: none;
				margin: 0;

				& > a {
					margin: 0;
					background: transparent;
					border-top: 1px solid $color-grey-light;
					padding: 16px 20px 16px 50px;
					min-width: 250px;
					display: block;
					font-family: $inter;
					font-size: 14px;
					font-weight: 500;
					text-transform: none;
					position: relative;

					&:hover {
						background: rgba(0, 0, 0, .1);
					}

					&.is-active {
						display: none;
					}
					&:before {
						content: '';
						position: absolute;
						top: 12px;
						left: 14px;
						width: 25px;
						height: 25px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path fill="none" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M21.9,11.5 c0.5,0.6,0.5,1.5,0,2.1c-1.5,1.9-5.1,6-9.3,6c-4.2,0-7.8-4-9.3-6c-0.5-0.6-0.5-1.5,0-2.1c1.5-1.9,5.1-6,9.3-6 C16.9,5.5,20.4,9.5,21.9,11.5z"/><circle fill="none" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" cx="12.7" cy="12.5" r="3"/></svg>');
					}
					&[href$='/delete']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M21.875 6.22786C18.4062 5.88411 14.9167 5.70703 11.4375 5.70703C9.375 5.70703 7.3125 5.8112 5.25 6.01953L3.125 6.22786" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.85413 5.17578L9.08329 3.8112C9.24996 2.82161 9.37496 2.08203 11.1354 2.08203H13.8645C15.625 2.08203 15.7604 2.86328 15.9166 3.82161L16.1458 5.17578" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.6355 9.51953L18.9584 20.0091C18.8438 21.6445 18.75 22.9154 15.8438 22.9154H9.15629C6.25004 22.9154 6.15629 21.6445 6.04171 20.0091L5.36462 9.51953" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.7604 17.1875H14.2292" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.89581 13.0195H15.1041" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/replicate']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M16.6667 13.4362V17.8112C16.6667 21.457 15.2084 22.9154 11.5625 22.9154H7.18754C3.54171 22.9154 2.08337 21.457 2.08337 17.8112V13.4362C2.08337 9.79036 3.54171 8.33203 7.18754 8.33203H11.5625C15.2084 8.33203 16.6667 9.79036 16.6667 13.4362Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 7.1862V11.5612C22.9167 15.207 21.4584 16.6654 17.8125 16.6654H16.6667V13.4362C16.6667 9.79036 15.2084 8.33203 11.5625 8.33203H8.33337V7.1862C8.33337 3.54036 9.79171 2.08203 13.4375 2.08203H17.8125C21.4584 2.08203 22.9167 3.54036 22.9167 7.1862Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/revisions']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M22.9167 17.4376V4.86468C22.9167 3.61468 21.8959 2.68759 20.6563 2.79176H20.5938C18.4063 2.97926 15.0834 4.09385 13.2292 5.26051L13.0521 5.3751C12.75 5.5626 12.25 5.5626 11.948 5.3751L11.6875 5.21885C9.83337 4.0626 6.52087 2.95843 4.33337 2.78135C3.09379 2.67718 2.08337 3.61468 2.08337 4.85426V17.4376C2.08337 18.4376 2.89587 19.3751 3.89587 19.5001L4.19796 19.5418C6.45837 19.8438 9.94796 20.9897 11.948 22.0834L11.9896 22.1043C12.2709 22.2605 12.7188 22.2605 12.9896 22.1043C14.9896 21.0001 18.4896 19.8438 20.7605 19.5418L21.1042 19.5001C22.1042 19.3751 22.9167 18.4376 22.9167 17.4376Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.5 5.71875V21.3437" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.07288 8.84375H5.72913" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.85413 11.9688H5.72913" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/translate']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M19.8541 19.4479L17.625 15L15.3958 19.4479" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.8021 18.6562H19.4687" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.625 22.9153C14.7083 22.9153 12.3333 20.5507 12.3333 17.6237C12.3333 14.707 14.6979 12.332 17.625 12.332C20.5416 12.332 22.9166 14.6966 22.9166 17.6237C22.9166 20.5507 20.5521 22.9153 17.625 22.9153Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.22921 2.08203H9.31254C11.4688 2.08203 12.5105 3.12372 12.4584 5.22788V9.3112C12.5105 11.4675 11.4688 12.5091 9.31254 12.4571H5.22921C3.12505 12.4987 2.08337 11.457 2.08337 9.30077V5.21746C2.08337 3.12371 3.12505 2.08203 5.22921 2.08203Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38541 6.09375H5.15625" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2605 5.38672V6.09504" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.32296 6.08594C8.32296 7.90885 6.89587 9.388 5.14587 9.388" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38545 9.38803C8.62503 9.38803 7.93754 8.98177 7.45837 8.33594" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.08337 15.625C2.08337 19.6562 5.34379 22.9167 9.37504 22.9167L8.28129 21.0937" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 9.3737C22.9167 5.34245 19.6563 2.08203 15.6251 2.08203L16.7188 3.90495" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/edit']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M12.5 15.625C14.2259 15.625 15.625 14.2259 15.625 12.5C15.625 10.7741 14.2259 9.375 12.5 9.375C10.7741 9.375 9.375 10.7741 9.375 12.5C9.375 14.2259 10.7741 15.625 12.5 15.625Z" stroke="#828282" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.08337 13.4168V11.5835C2.08337 10.5002 2.96879 9.60432 4.06254 9.60432C5.94796 9.60432 6.71879 8.27099 5.77087 6.63557C5.22921 5.69807 5.55212 4.47932 6.50004 3.93766L8.30212 2.90641C9.12504 2.41682 10.1875 2.70849 10.6771 3.53141L10.7917 3.72932C11.7292 5.36474 13.2709 5.36474 14.2188 3.72932L14.3334 3.53141C14.823 2.70849 15.8855 2.41682 16.7084 2.90641L18.5105 3.93766C19.4584 4.47932 19.7813 5.69807 19.2396 6.63557C18.2917 8.27099 19.0625 9.60432 20.948 9.60432C22.0313 9.60432 22.9271 10.4897 22.9271 11.5835V13.4168C22.9271 14.5002 22.0417 15.396 20.948 15.396C19.0625 15.396 18.2917 16.7293 19.2396 18.3647C19.7813 19.3127 19.4584 20.521 18.5105 21.0627L16.7084 22.0939C15.8855 22.5835 14.823 22.2918 14.3334 21.4689L14.2188 21.271C13.2813 19.6356 11.7396 19.6356 10.7917 21.271L10.6771 21.4689C10.1875 22.2918 9.12504 22.5835 8.30212 22.0939L6.50004 21.0627C5.55212 20.521 5.22921 19.3022 5.77087 18.3647C6.71879 16.7293 5.94796 15.396 4.06254 15.396C2.96879 15.396 2.08337 14.5002 2.08337 13.4168Z" stroke="#828282" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/translations']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M19.8541 19.4479L17.625 15L15.3958 19.4479" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.8021 18.6562H19.4687" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.625 22.9153C14.7083 22.9153 12.3333 20.5507 12.3333 17.6237C12.3333 14.707 14.6979 12.332 17.625 12.332C20.5416 12.332 22.9166 14.6966 22.9166 17.6237C22.9166 20.5507 20.5521 22.9153 17.625 22.9153Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.22921 2.08203H9.31254C11.4688 2.08203 12.5105 3.12372 12.4584 5.22788V9.3112C12.5105 11.4675 11.4688 12.5091 9.31254 12.4571H5.22921C3.12505 12.4987 2.08337 11.457 2.08337 9.30077V5.21746C2.08337 3.12371 3.12505 2.08203 5.22921 2.08203Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38541 6.09375H5.15625" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2605 5.38672V6.09504" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.32296 6.08594C8.32296 7.90885 6.89587 9.388 5.14587 9.388" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38545 9.38803C8.62503 9.38803 7.93754 8.98177 7.45837 8.33594" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.08337 15.625C2.08337 19.6562 5.34379 22.9167 9.37504 22.9167L8.28129 21.0937" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 9.3737C22.9167 5.34245 19.6563 2.08203 15.6251 2.08203L16.7188 3.90495" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href$='/translations']:before {
						background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M19.8541 19.4479L17.625 15L15.3958 19.4479" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.8021 18.6562H19.4687" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.625 22.9153C14.7083 22.9153 12.3333 20.5507 12.3333 17.6237C12.3333 14.707 14.6979 12.332 17.625 12.332C20.5416 12.332 22.9166 14.6966 22.9166 17.6237C22.9166 20.5507 20.5521 22.9153 17.625 22.9153Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.22921 2.08203H9.31254C11.4688 2.08203 12.5105 3.12372 12.4584 5.22788V9.3112C12.5105 11.4675 11.4688 12.5091 9.31254 12.4571H5.22921C3.12505 12.4987 2.08337 11.457 2.08337 9.30077V5.21746C2.08337 3.12371 3.12505 2.08203 5.22921 2.08203Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38541 6.09375H5.15625" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.2605 5.38672V6.09504" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.32296 6.08594C8.32296 7.90885 6.89587 9.388 5.14587 9.388" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.38545 9.38803C8.62503 9.38803 7.93754 8.98177 7.45837 8.33594" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.08337 15.625C2.08337 19.6562 5.34379 22.9167 9.37504 22.9167L8.28129 21.0937" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.9167 9.3737C22.9167 5.34245 19.6563 2.08203 15.6251 2.08203L16.7188 3.90495" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
					&[href*='/section_library/add/template']:before {
						background-image: inline-svg('<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.77075 12.0859C0.895752 12.4297 0.895752 19.5234 5.77075 19.8672H7.7708" stroke="#828282" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.82287 12.0846C2.47912 2.78247 16.5832 -0.93627 18.1978 8.83456C22.7082 9.40748 24.5312 15.4179 21.1145 18.4075C20.0729 19.3554 18.7291 19.8762 17.3228 19.8658H17.2291" stroke="#828282" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.7083 17.7201C17.7083 18.4909 17.5416 19.2201 17.2291 19.8659C17.1458 20.0534 17.0521 20.2305 16.9479 20.3971C16.0521 21.9076 14.3958 22.9284 12.5 22.9284C10.6041 22.9284 8.94786 21.9076 8.05202 20.3971C7.94786 20.2305 7.85415 20.0534 7.77082 19.8659C7.45832 19.2201 7.29163 18.4909 7.29163 17.7201C7.29163 14.8451 9.62496 12.5117 12.5 12.5117C15.375 12.5117 17.7083 14.8451 17.7083 17.7201Z" stroke="#828282" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.875 17.72L11.9062 18.7513L14.125 16.6992" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}


					// &[href$='/delete']:before {
					// 	background-image: inline-svg('');
					// }
				}
				&:last-child {
					& > a {
						border: none;
					}
				}
			}
		}
	}
}