.layout-builder__section__rearrange {
	position: absolute;
	z-index: 99;
	left: 4px;
	top: 5px;
	display: none;

	.layout-builder__section:hover & {
	    display: block;
	  }

	.layout-builder__link {
		@extend %interface-button-black;
		display: table !important;
		font-size: 0 !important;
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		width: 40px;
		height: 36px;

		&:before {
			background: inline-svg('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99999 11.9989H6.21999C4.01332 11.9989 3.10666 10.4322 4.21332 8.51891L5.10666 6.97891L5.99999 5.43891C7.10666 3.52557 8.91332 3.52557 10.02 5.43891L10.9133 6.97891L11.8067 8.51891C12.9133 10.4322 12.0067 11.9989 9.79999 11.9989H7.99999Z" fill="#fff"/></svg>') no-repeat center center / 16px 16px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: auto;
		}

		&:last-child {
			border-bottom: 1px solid $color-black-light;
			transform: rotate(180deg);
		}
	}
}