.layout-builder__region {
  outline: none;
  position: relative;

  .highlight & {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      left: 15px;
      border: 2px dashed #aaa;
    }
  }

  .layout-builder & {
    margin-top: 0;
    min-height: 55px; /* so doesn't collapse if no add-link or button in it */
  }

  .layout-builder .layout:hover & {
    //outline: 1px dashed $color-border;
  }
}

.layout-builder.layout-builder-disabled  .layout-builder__region {
  position: relative;
}

.layout-builder .layout-builder__region .layout-builder__region {
  outline: 1px dashed #979797;
}

.layout-builder.layout-builder-disabled .layout-builder__region .layout-builder__region {
  display: block !important;
  margin: 1em !important;
}

.layout-builder  .layout-builder__region .layout__subregion {
  outline: 1px dashed #979797 !important;  /* #2f91da !important; */
}

.layout-builder.layout-builder-disabled  .layout-builder__region .layout__subregion {
  display: block !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  margin: 2em 1em !important;
  /* padding: 1em !important; */
  width: auto !important;
  height: auto !important;
  min-width: 0 !important;
  max-width: none !important;
  color: #686868 !important;
}
