.layout-builder__section {
	background-image: linear-gradient(to right, $color-primary 70%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 10px 1px;
	background-repeat: repeat-x;
	position: relative;

	.messages__wrapper {
		position: absolute;
		z-index: 99;
		top: 60px;
		right: 10px;
		width: 100%;
		max-width: 360px;
	}

	.ui-sortable-helper {
		outline: 2px solid #f7f7f7;
		background-color: transparent;
	}

	.ui-state-drop {
		margin: 0;
		padding: 0;
	}

	&.form-group {
		margin-bottom: 0;

		& > .form-group {
			margin: 0;
		}
	}

	.layout-builder__link + .layout-builder__add-section + & {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-image: linear-gradient(to right, $color-primary 70%, rgba(255,255,255,0) 0%);
			background-position: bottom;
			background-size: 10px 1px;
			background-repeat: repeat-x;
		}

		.layout-builder__section__actions {
			top: 0;
		}
	}
}