.section-library {
	display: grid;
	grid-template-columns: 310px 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "search content"
						 "tabs content";

	&-search {
		grid-area: search;
		margin-top: 0;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;

		.control-label {
			display: none;
		}
	}
	&-tabs {
		grid-area: tabs;
		padding-left: 30px;
		padding-right: 30px;
		max-height: calc(90vh - 145px);
		overflow: auto;

		&__link {
			display: block;
			text-decoration: none;
			font-weight: 600;
			font-family: $inter;
			color: $color-white;
			font-size: 14px;
			border: 1px solid rgba($color-white, .2);
			margin-bottom: 10px;
			padding: 15px 20px;
			border-radius: 5px;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				color: $color-white;
			}
			&:hover {
				border-color: $color-white;
			}

			span {
				display: table;
				font-weight: 400;
				font-size: 11px;
				text-transform: uppercase;
				color: $color-grey-dark;
			}
			&--active {
				background: $color-primary;
				border-color: $color-primary;

				&:hover {
					border-color: $color-primary;
				}
				span {
					color: $color-white;
				}
			}
		}
	}
	&-categories {
		grid-area: content;
		padding: 30px;
		margin: 0;
		max-height: calc(90vh - 56px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	&-links {
		margin-left: -16px;
		margin-right: -16px;
		padding: 0;
		display: none;
		flex-wrap: wrap;
		list-style: none;

		&--active {
			display: flex;
		}

		& > li {
			width: 350px;
			margin: 0px 15px 30px;
			padding: 0;
			position: relative;
		}
	}
	&-template {
		position: relative;
		padding: 20px;
		border-radius: 10px;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		background: $color-black-dark;

		&:hover {
			background: $color-primary;
		}

		&__link {
			display: block;
			text-decoration: none;
			color: inherit;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9;

			.ajax-throbber {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -30px;
				margin-left: -30px;
				font-size: 48px;
				color: #000;
				line-height: 1;
			}

			&:has(.ajax-throbber) + .section-library-template__preview {
				opacity: .3;
			}
		}
		&__preview {
			position: relative;
			margin-bottom: 10px;
			padding-bottom: 60%;
			z-index: 8;
			overflow: hidden;

			&-section {
				position: absolute;
				background: #fff;
				left: 0;
				top: 50%;
				width: 1240px;
				transform: scale(0.25) translateY(-50%);
				transform-origin: left top;
				pointer-events: none;
			}
		}
		&__label {
			color: $color-white;
			font-weight: 500;
			font-family: $inter;
			text-decoration: none;
			font-size: 16px;
			font-family: $inter;
		}
	}
}