.js input.form-linkit-autocomplete.ui-autocomplete-loading {
	background-repeat: no-repeat;
}
.field--widget-vb-paragraphs-classic-asymmetric {
  display: none;
}
.paragraphs-empty {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;

	strong {
		display: block;
		margin-bottom: 15px;
	}
	.btn {
		padding: 10px !important;
		background: $color-primary !important;
		color: #fff !important;
		font-size: 14px !important;
		border-radius: 0 !important;
		text-decoration: none !important;
		border: none !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: Arial, sans-serif !important;
		margin-left: 5px;
		margin-right: 5px;
	}
}