.entity-browser-form {
	.button {
		@extend %btn;

		&--primary {
			@extend %btn-primary;
		}
	}

	& > .form-actions {
		position: fixed;
		bottom: 0;
		background: #f0f0f0;
		border-top: 1px solid #e5e5e5;
		margin: 0;
		padding: 15px;
		margin-left: -10px;
		margin-right: -10px;
		min-width: 100%;
	}
}

.entity-browser-iframe {
	padding: 10px 10px 80px 10px;
}