%btn {
	padding: 5px 10px !important;
	height: 40px !important;
	background: #f0f0f0 !important;
	color: #333 !important;
	font-size: 14px !important;
	border-radius: 0 !important;
	text-decoration: none !important;
	border: none !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	text-shadow: none !important;
	font-family: $inter;
	font-weight: 500 !important;
	border-radius: 5px !important;
	
	&:hover,
	&:active,
	&:focus,
	&:active:hover,
	&:active:focus {
		background: darken(#f0f0f0, 10%) !important;
		color: #333 !important;
	}

	&-default {
		color: $color-white !important;
		background: transparent !important;
		border: 1px solid rgba($color-white, .2) !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			color: $color-black-dark !important;
			border-color: $color-white !important;
			background: $color-white !important;
		}
	}
	&-success,
	&-primary {
		background: $color-primary !important;
		color: #fff !important;
		border: none !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken($color-primary, 10%) !important;
			color: #fff !important;
		}
	}
	&-danger {
		background: #de0000 !important;
		color: #fff !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken(#de0000, 10%) !important;
			color: #fff !important;
		}
	}
	.ajax-throbber {
		margin-left: 10px;
	}
}

%interface-button {
	display: inline-block !important;
	pointer-events: all;
	padding: 0 8px 0 28px !important;
	background-repeat: no-repeat;
	border-radius: 5px !important;
	font-family: $inter;
	font-size: 13px !important;
	font-weight: 500 !important;
	position: relative;
	width: auto;
	height: auto;
	text-indent: 0;
	margin-right: 0;
	line-height: 33px !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
	text-decoration: none !important;
	text-shadow: none !important;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		height: auto;
		left: 4px;
		width: 20px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;

	}

	&:hover {
		text-decoration: none;
	}
}
%interface-button-white {
	@extend %interface-button;
	border: 1px solid $color-grey-dark !important;
	color: $color-black-dark !important;
	background: $color-white !important;

	&:hover {
		background: $color-grey-light !important;
	}
}
%interface-button-black {
	@extend %interface-button;
	color: $color-white !important;
	background: $color-black-dark !important;

	&:before {
		opacity: .33;
	}

	&:hover {
		color: $color-white !important;
		background-color: $color-primary !important;

		&:before {
			opacity: 1;
		}
	}
}
%interface-button-black-border {
	@extend %interface-button-black;
	border: 1px solid rgba($color-white, .2) !important;

	&:hover {
		border-color: $color-primary !important;
	}
}