.layout-builder {
	padding: 0 !important;
	border: 0 none !important;
	outline: 0 none !important;
	background-color: transparent !important;
  
	&.loading {
		opacity: .5;
		pointer-events: none;

		&:after {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			position: fixed;
			opacity: 1;
			top: 50%;
			left: 50%;
			margin: 1px 1px 1px -25px;
			border-radius: 50%;
			border: 5px solid #fff;
			border-color: #000 transparent #000 transparent;
			animation: loading 1.2s linear infinite;
			z-index: 99999;
		}
	}
}

@import "layoutbuilder/*";