// Some modal UX tweaks
body.modal-open {
	padding-right: 0 !important;
}
.modal {
	z-index: 9998 !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	font-family: Arial, sans-serif !important;
	width: 980px !important;
	max-width: 98vw !important;
	padding: 0 !important;
	max-height: 90vh;
	top: 5vh !important;
	font-size: 14px;
	overflow: visible !important;

	// Avoid flash of modal in wrong position
	left: 50% !important;
	transform: translateX(-50%) !important;
	padding: 0 !important;

	&:after {
		content: '';
		position: fixed;
		top: -5vh;
		left: 50%;
		margin-left: -50vw;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		z-index: 98;
	}

	&-dialog {
		// Force max height to avoid flash of too high modal
		// width: 100% !important;
		// height: 90vh !important;
		overflow: hidden;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		width: 100% !important;
		max-height: 90vh !important;
		position: relative;
		z-index: 99;
	}
	&-content {
		max-height: 90vh !important;
		margin-left: auto;
		margin-right: auto;
		z-index: 99999 !important;
		border: none;
		width: 100% !important;
		background: linear-gradient(to bottom, $color-black-dark 0, $color-black-dark 56px, $color-black-light 56px) !important;
		border-radius: 15px !important;
		border: none !important;
	}
	&-header {
		background: transparent;
		border: none !important;
		border-top-left-radius: 15px !important;
		border-top-right-radius: 15px !important;
		height: 56px !important;

		.close {
			// Compatibility with other close classes
			position: static;
			font-size: 32px !important;
			color: $color-white !important;
			font-weight: lighter !important;
			font-family: Arial, sans-serif !important;
			text-shadow: none !important;

			&:hover {
				background: transparent !important;
			}
		}
	}
	&-title {
		color: $color-white;
		margin: 0 !important;
		font-weight: normal !important;
		font-size: 18px !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: Inter, Arial, sans-serif !important;
	}
	&-body {
		overflow: auto !important;
		max-height: calc(90vh - 56px);
		padding: 30px;

		.form-actions {
			display: none;
		}

		.media-image-edit-form .form-actions {
			display: block !important;
		}
	}
	&-footer {
		background: $color-black-light;
		color: $color-white;
		margin-top: auto;
		border: none !important;
		border-bottom-left-radius: 15px !important;
		border-bottom-right-radius: 15px !important;
		text-align: left !important;
	}
	&-backdrop {
		z-index: 5040;
		background: $color-black-light;
		opacity: .8;
	}

	&--has-tabs {
		.modal-body {
			padding: 0;
		}
	}

	// Utility modals like ckeditor modals need increased z-index
	&#drupal-modal {
		z-index: 9999 !important;
	}

	// Some modals need to be smaller
	&[data-drupal-selector*="settings-block-form-field-media-image-selection"] {
		width: 640px !important;
	}

	// Entity browser modals need forced height on the iframe
	&[id*="browser-dialog"] {
		.modal-body {
			padding: 0 !important;
		}
		.entity-browser-modal-iframe {
			height: 100%;
		}
	}
	// Some modals shouldn't be so high
	&[id*="paragraphsdelete"],
	&[id*="paragraphssave"] {
		height: 300px !important;
		top: 50% !important;
		transform: translate(-50%, -50%) !important;

		.modal-dialog,
		.modal-content {
			height: 300px !important;
		}
	}

	&[id$="layout-builderadd-block"],
	&[id$="layout-builderupdate-block"],
	&[id$="layout-builderconfigure-section"],
	&[id$="layout-builder-modal-grid-settings"] {
		.modal-body {
			overflow: hidden !important;
			color: $color-white !important;
		}
		.modal-footer {
			padding-left: 100px;
		}
		form {
			color: $color-white !important;

			& > .button {
				margin: 15px 0;

				&--primary {
					margin: 15px 15px 15px 100px;
				}
			}
		}
		#bs_ui {
			.intro,
			#bs_nav-tabs,
			#bs_tabContent {
				padding-left: 100px;
				padding-right: 100px;
			}
			& ~ p {
				display: none;
			}
		}
	}

	&[id$="add-section-to-library"],
	&[id$="layout-builderremove-block"],
	&[id$="layout-builderremove-section"],
	&[id$="layout-builderchoose-block"] {
		.modal-footer {
			padding-left: 100px;
		}
		.modal-body {
			padding: 30px 100px;
			color: $color-white !important;
		}
		form {
			color: $color-white !important;
		}
	}
	&[id^="drupal-dialog-entitynodeedit-form"] {
		width: 98vw !important;
		max-width: 1200px !important;
	}

	&[id$="choose-template-from-library"] {
		width: 98vw !important;
		max-width: 1110px !important;

		.modal-body {
			padding: 0;
			overflow: hidden !important;
			background: linear-gradient(to right, $color-black-dark 0, $color-black-dark 310px, $color-black-light 310px) !important;
		}
	}

	// Modal to add paragraphs can be bigger on largest screens
	@media only screen and (min-width: 1500px) {
		&[id^="drupal-dialog-vb-paragraphsadd"], {
			width: 1420px !important;

			.modal-content {
				width: 100% !important;
			}
		}
	}

	// Components
	@import "modal/*";
}
