#drupal-off-canvas {

  .webform-states-table--state {
    width: 120px;
    font-size: 13px;
  }

  .webform-states-table--state {
    select {
      min-width: 120px;
    }
  }

  .webform-states-table--selector {
    width: 260px;
  }

  .webform-states-table--operator {
    select {
      min-width: 125px;
    }

    .form-item__prefix {
      margin-right: 10px;
    }
  }
}

.webform-off-canvas {
  min-width: 750px !important;

}
