.modal-footer .btn,
.modal-button.btn,
.modal-footer .button,
.modal-button.button {
	@extend %btn;

	&-default,
	&-info {
		@extend %btn-default;
	}
	&-success,
	&-primary,
	&--primary {
		@extend %btn-primary;
	}
	&-danger {
		@extend %btn-danger;
	}
}