.pager {
	margin: 10px 0 0 !important;
	list-style: none !important;
	display: flex;

	& > li {
		margin-right: 5px;

		&:last-child {
			margin: 0;
		}

		& > a {
			display: block;
			width: 32px;
			height: 32px;
			text-align: center;
			line-height: 28px;
			color: $color-white;
			background: $color-black-dark;
			border: 1px solid rgba($color-white, .2);
			font-family: $inter;
			font-weight: bold;
			font-size: 14px;
			border-radius: 4px;
			text-decoration: none;

			&:hover {
				color: $color-white;
				background: $color-primary;
				border-color: $color-primary;
				text-decoration: none;
			}
		}
	}
}