.panel {
	background: transparent;
	box-shadow: none;
	border: none;

	& > .panel-heading {
		border: none !important;
		border-radius: 0 !important;
		margin-bottom: 10px;
		padding: 0 !important;
		background: transparent !important;

		svg {
			vertical-align: bottom;
			margin-right: 5px;
		}

		a.panel-title {
			color: $color-white !important;
			background: $color-black-lighter !important;
			border: 1px solid $color-black-lighter;
			padding: 10px !important;
			display: block;
			margin-bottom: 0 !important;
			position: relative;
			text-decoration: none;
			font-family: $inter;
			font-size: 14px !important;
			font-weight: 500 !important;

			&:after {
				content: '';
				position: absolute;
				right: 10px;
				top: 12px;
				width: 16px;
				height: 16px;
				background: url(../images/plus-white.svg) no-repeat center center / contain;
			}

			&:hover {
				background: $color-black-dark !important;
				border-color: $color-black-dark !important;
				text-decoration: none;
			}
			&:focus,
			&:active {
				text-decoration: none;
			}

			// &[aria-expanded="false"] {
			// 	background: #fff !important;
			// }
		}
	}
	& > .panel-body {
		padding: 0;

		&[aria-expanded="true"] {
			//border: 1px solid $color-black-lighter;
			padding: 10px 0;
		}
	}
}