::-webkit-scrollbar {
  width: 6px;
  margin: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-grey-darker;
  border-radius: 10px;
}