.vertical-tabs {
	display: flex;
	width: 100%;

	&-panes {
		flex: auto;
	}

	&-list {
		flex: 230px 0 0;
		align-self: flex-start;
		position: sticky;
		top: 0;

		& > li {
			float: none;
			display: block;
			margin-bottom: 5px;

			& > a {
				text-transform: none;
				background: #fff !important;
				color: inherit !important;
				text-decoration: none;
				font-weight: bold;
				font-size: 14px;
				background: #fff;
				border: 1px solid $color-grey;
				padding: 5px 10px;
				line-height: 20px;
				min-height: 48px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
				&:hover {
					border-color: #000;
				}

				.summary {
					display: table;
					font-weight: normal;
					font-size: 12px;
					color: #000;
					line-height: 16px;
				}
			}
			&.active > a {
				background: $color-grey !important;
				
				&:hover {
					border-color: $color-grey;
				}
			}
		}
	}
}